.seek-bar {
	margin: 50px auto;
	position: relative;
	width: calc(100% - 12rem);
	height: 4px;
	background: #222;
	border-radius: 16px;
}

@media (max-width: 500px) {
	.seek-bar {
		width: calc(100% - 8rem);
		font-size: 0.8rem;
	}
}

.seek-bar > .circle {
	cursor: grab;
	position: absolute;
	left: 0;
	top: 50%;
	width: 48px;
	height: 32px;
	transform: translate(-50%, -50%);
	touch-action: none;
}
.seek-bar > .circle > span {
	position: absolute;
	display: block;
	width: 40px;
	line-height: 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #80e080;
	border-radius: 16px;
	text-align: center;
	font-size: 0.8rem;
	font-weight: bold;
}
