@font-face {
	font-family: "NEXON Lv2 Gothic";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "NEXON Lv2 Gothic";
	font-weight: 500;
	color: black;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	/* -ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; */
	/* user-select: all; */
	background-color: white;
}

li {
	list-style: none;
}

.App {
	align-items: center;
	justify-content: center;
}
